<main class="content-container">
  <h2>Headline</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tempus sem. Duis sed vestibulum nibh. Quisque quis libero sed ipsum ultricies accumsan. Etiam mi enim, egestas viverra neque quis, posuere porta orci. Sed finibus dictum purus, non ultricies augue eleifend vel. Duis rutrum condimentum justo non aliquet. Proin gravida hendrerit nibh quis congue.</p>
  <p> Proin pretium libero quam, sit amet suscipit ligula venenatis eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vestibulum quis velit in viverra. Vivamus sed tristique magna. Quisque pulvinar purus sed mi efficitur, et facilisis ante iaculis. Aenean accumsan cursus elit, sit amet pulvinar mauris aliquet quis.</p>
</main>
