<nav>
  <ul class="menu vertical">
    <li class="menu-item">
      <a href="/" class="active">foo</a>
    </li>
    <li class="menu-item">
      <a href="/">faa</a>
    </li>
    <li class="menu-item">
      <a href="/">fee</a>
    </li>
  </ul>
</nav>
